/*
Modelo de caixa
*/

/* .conteudo {
    border: 1px solid red;
    padding: 20px;
    margin-left: 50px;
    margin-top: 20px;

    width: 300px;
} */

#noticia {
    background: rgb(131, 133, 127);
    padding: 10px;
    border: 1px solid rgb(7, 7, 7);
}

h2 {
    margin: 0px;
    border: 1px solid rgb(0, 0, 0);
}

#principal {
    border: 5px solid red;
    background: gray;
}

.conteudo {
    background: blue;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    margin: 10px;
    float: right;
}

.clear {
    clear: both;
}

/* .conteudo1 {
    background: rgb(255, 1, 1);
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px;
} */

